.hero {
    background-image: url('/assets/img/plane-background.png') !important;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  .selectContainer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 20px;
  }
  .results{
    /* visibility: hidden; */
  }
  button{
    margin-left: 15px;
    border-radius: 5px!important;
  }
  
  