<!--order confirm component-->
<!--displays right after and order is placed-->
<section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title has-text-centered">
          Orders
        </h1>
      </div>
    </div>

    <section class="section is-medium">
      <div class="container">
        <div class="selectContainer">
          <div class="select" (change)="onChange($event.target.value, 'from')">
              <select>
                <option>Select dropdown</option>
                <option>Arkansas</option>
              </select>
            </div>
            <div class="select" (change)="onChange($event.target.value, 'to')">
                <select>
                  <option>Select dropdown</option>
                  <option>New York</option>
                </select>
              </div>
            <div class="select" (change)="onChange($event.target.value, 'tier')">
                <select>
                  <option>Select dropdown</option>
                  <option>1</option>
                </select>
              </div>

            </div>
        <div class="tile is-ancestor">
          <div class="tile is-12 is-vertical">
            <div class="tile"> 

                <!--Results Tile-->
              
                <div class="tile is-vertical is-parent results">
   
                    <div class="tile is-child box">
                      <p class="title has-text-dark">
                        Results:
                      </p>
                      <div class="content">
                        <table onload="ini()" class="table  is-narrow is-hoverable is-three-fifths">
                            <tr >
                                <th>Name</th>
                                <th>Shipping From</th>
                                <th>Shipping To</th>
                                <th>Tier</th>
                            </tr>
                            <tr *ngFor="let x of orderDetails">
                                <td>{{x.name}}
                                  </td>
                                  <td>{{x.from}}</td>
                                  <td>{{x.to}}</td>
                                  <td>{{x.tierOption}}</td>
                            </tr>       
                        </table>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div> 

        <section class="section">
        </section>
        
     </div>
    </section>


</section>
