.hero {
  background: url('/../../assets/img/15409.svg');
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
    min-height: 100vh;
  }
  .selectContainer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-bottom: 20px;
  }
  .results{
    /* visibility: hidden; */
  }
  button{
    margin-left: 15px;
    border-radius: 5px!important;
  }
  
  