.imgColumn {
    background: url('/assets/img/blackbox.svg');
    background-size: 60%;
    background-position: center ;
    background-repeat: no-repeat!important;
    height: 100vh;
    
    
  }
  .imgColumn2 {
    background: url('/assets/img/mapTracking.svg');
    background-size: 60%;
    background-position: center ;
    background-repeat: no-repeat!important;
    height: 100vh;
    
    
  }
  
  table{
    visibility: hidden;
    border-radius: 4px;
  }
 .content{
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
  }