.mainContainer {
    background: url('/assets/img/plane-background.png');
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat!important;
    height: 100vh;
    
    
  }
  
  table{
    visibility: hidden;
    border-radius: 4px;
  }
 .content{
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
  }