<section>
    <div id="login">
        <div class="login-card">
      
          <div class="card-title">
            <h1>Please Sign In</h1>
          </div>
      
          <div class="content">
            <form method="POST" action="#">
      
              <input 
                id="email" 
                type="email" 
                name="email" 
                title="email" 
                placeholder="Email"
                required 
                autofocus>

              <input 
                id="password" 
                type="password"
                name="password" 
                title="password" 
                placeholder="Password" 
                required>
      
              <button 
                type="submit" 
                class="btn btn-primary" 
                routerLink="/admin-view">
                Login
              </button>

            </form>
          </div>

        </div>

      </div>

</section>