.imgColumn {
    background-image: url('../../assets/img/cbg.svg') !important;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;

  }
  button{
}
.section.section.is-medium{
  padding: 0;
}
.main{
  height: 100vh;
}
div.hero-body{
  padding: 0;
}
.title{
  margin-bottom: 10px!important;
}
img{
  margin: 0 auto;
}
button.close{
  margin-left: 0;
}
.formColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 96vh;
}
