.hero {
    /* background-image: url('/assets/img/airplane.png') !important; */
    background-size: cover;
    background-repeat: no-repeat;
}   

.section.is-medium{
    padding: 0;
}
.modal.fade {
    z-index: 10000000 !important;
  }
.modal{
      color: black;
  }
