<!--order confirm component-->
<!--displays right after and order is placed-->
<section class="hero is-info is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Confirm Order!
        </h1>
        <h3 class="subtitle">
          This is the page to confirm your order.
        </h3>
      </div>
    </div>

    <section class="section is-medium">
      <div class="container">
        <div class="tile is-ancestor">
          <div class="tile is-12 is-vertical">
            <div class="tile">
                <!--Order Info Tile-->
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                      <p class="title has-text-dark">
                        Order Info:
                      </p>
                      <div class="content">
                          <!--First and Last Name-->
                          <fieldset disabled>
                          <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                <label class="label">Name</label>
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <p class="control">
                                    <input 
                                      class="input" 
                                      type="text" 
                                      value= {{name}}
                                      required>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <!--Shipping from-->
                            <div class="field is-horizontal">
                              <div class="field-label is-normal">
                                <label class="label">Ship From:</label>
                              </div>
                              <div class="field-body">
                                <div class="field">
                                  <p class="control">
                                    <input
                                      class="input"
                                      type="text"
                                      value={{from}}>
                                  </p>
                                </div>
                              </div>
                            </div>
                            <!--Shipping To-->
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                  <label class="label">Ship To:</label>
                                </div>
                                <div class="field-body">
                                  <div class="field">
                                    <p class="control">
                                      <input
                                        class="input"
                                        type="text"
                                        value={{to}}>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <!--Tier Package-->
                              <div class="field is-horizontal">
                                  <div class="field-label is-normal">
                                    <label class="label">Tier:</label>
                                  </div>
                                  <div class="field-body">
                                    <div class="field">
                                      <p class="control">
                                        <input
                                          class="input"
                                          type="text"
                                          value={{tier}}>
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                      </div>
                    </div>
                </div>
                <!--Order Summary Tile-->
                <div class="tile is-parent">
                    <div class="tile is-child box">
                        <p class="title has-text-dark">
                            Order Summary:
                        </p>

                        <!-- Distance -->
                        <div class="content">
                           <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                  <label class="label">  Ditance:</label>
                                </div>
                                <div class="field-body">
                                  <div class="field">
                                    <p class="control">
                                      <input id="distance"
                                        class="input"
                                        type="text"
                                        value="" disabled>
                                    </p>
                                  </div>
                                </div>
                              </div>
                        </div>
                        
                        
                        <!-- Price -->
                        <div class="content">
                            <div class="field is-horizontal">
                                 <div class="field-label is-normal">
                                   <label class="label">  Tier Price:</label>
                                 </div>
                                 <div class="field-body">
                                   <div class="field">
                                     <p class="control">
                                       <input  id="tierPrice"
                                         class="input"
                                         type="text"
                                         value="" disabled>
                                     </p>
                                   </div>
                                 </div>
                               </div>
                         </div>
                        <!-- Tier Price -->
                        <div class="content">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                  <label class="label">  Tax :</label>
                                </div>
                                <div class="field-body">
                                  <div class="field">
                                    <p class="control">
                                      <input  id="tax"
                                        class="input"
                                        type="text"
                                        value="" disabled>
                                    </p>
                                  </div>
                                </div>
                              </div>
                        </div>

                        <!-- Tax -->
                        <div class="content">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                  <label class="label">  Total:</label>
                                </div>
                                <div class="field-body">
                                  <div class="field">
                                    <p class="control">
                                      <input  id="total"
                                        class="input"
                                        type="text"
                                        value="" disabled>
                                    </p>
                                  </div>
                                </div>
                              </div>
                        </div>

                         
                    </div>
                </div>
            </div>
          </div>
        </div> 
        <button type="submit"class="button is-medium" (click)="submitOrder()" >Order</button>
        <button type="submit"class="button is-medium" (click)="cancelOrder()" >Cancel</button>
      </div>
    </section>
</section>