.tierImgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0px;
}

.hero {
    background-image: url('/assets/img/plane-background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}   
.is-error{
    display: inline-block;
}
.notification:hover {
  border: 1px solid black;
  transform: scale(1.02);
  cursor: pointer;
  
}
.control{
    visibility: hidden;
}

