.tierImgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0px;
}
label{
    /* color: darkgrey!important;
    font-size: 11px!important; */
}
.hero{
    /* background-image: url('../../assets/img/396.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}   
.formLogoImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.is-error{
    display: inline-block;
}
.notification:hover {
  border: 1px solid black;
  transform: scale(1.02);
  cursor: pointer;
  
}
.notification{
box-shadow: 2px 2px #c4c4c4;
}
.control{
    visibility: hidden;
}

.column{
    display: flex;
}
.is-two-fifths{
    display: inline-block;
}
.tiers{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.tiersbg{
    background-image: url('../../assets/img/placeOrderbg.svg') !important;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.section{
    padding: 0;
}
h3{
    margin-bottom: 40px!important;
}
.orderFormContainer{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;

}
