<!--place order page component-->
<!--Page Title/Header-->
<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="has-text-centered container">
      <h1 class="title">
        Place Order!
      </h1>
      <h3 class="subtitle">
        This is the page to place an order.
      </h3>
    </div>
  </div>

  <!--Description of tiers-->
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class=" notification has-text-dark">
              <div class="column tierImgs">
              <figure class=" image is-96x96 ">
                  <img src="../../assets/img/tierOne.png">
              </figure>
            </div>
            <h1 class="title has-text-centered has-text-dark is-size-4">Tier 1</h1>
            <h3 class="subtitle has-text-centered has-text-dark is-size-6">Description of package.</h3>
            <p class="is-size-6">
              Do play they miss give so up. Words to up style of since world.
              We leaf to snug on no need. Way own uncommonly travelling now acceptance bed compliment solicitude.
              Dissimilar admiration so terminated no in contrasted it. Advantages entreaties mr he apartments do.
              Limits far yet turned highly repair parish talked six. Draw fond rank form nor the day eat.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-dark">
              <div class="column tierImgs">
                  <figure class=" image is-96x96 ">
                      <img src="../../assets/img/TierTwo.png">
                  </figure>
                </div>
            <h1 class="title has-text-centered has-text-dark is-size-4">Tier 2</h1>
            <h3 class="subtitle has-text-centered has-text-dark is-size-6">Description of package.</h3>
            <p class="is-size-6">
              Do play they miss give so up. Words to up style of since world.
              We leaf to snug on no need. Way own uncommonly travelling now acceptance bed compliment solicitude.
              Dissimilar admiration so terminated no in contrasted it. Advantages entreaties mr he apartments do.
              Limits far yet turned highly repair parish talked six. Draw fond rank form nor the day eat.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-dark">
              <div class="column tierThree tierImgs">
                  <figure class=" image is-96x96">
                      <img src="../../assets/img/TierThree.png">
                  </figure>
                </div>
            <h1 class="title has-text-centered has-text-dark is-size-4">Tier 3</h1>
            <h3 class="subtitle  has-text-centered has-text-dark is-size-6">Description of package.</h3>
            <p class="is-size-6">
              Do play they miss give so up. Words to up style of since world.
              We leaf to snug on no need. Way own uncommonly travelling now acceptance bed compliment solicitude.
              Dissimilar admiration so terminated no in contrasted it. Advantages entreaties mr he apartments do.
              Limits far yet turned highly repair parish talked six. Draw fond rank form nor the day eat.
            </p>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-dark">
              <div class="column tierImgs">
                  <figure class=" image is-96x96 ">
                      <img src="../../assets/img/TierFour.png">
                  </figure>
                </div>
            <h1 class="title has-text-centered has-text-dark is-size-4">Tier 4</h1>
            <h3 class="subtitle has-text-centered has-text-dark is-size-6">Description of package.</h3>
            <p class="is-size-6">
              Do play they miss give so up. Words to up style of since world.
              We leaf to snug on no need. Way own uncommonly travelling now acceptance bed compliment solicitude.
              Dissimilar admiration so terminated no in contrasted it. Advantages entreaties mr he apartments do.
              Limits far yet turned highly repair parish talked six. Draw fond rank form nor the day eat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Form Title/Header-->
  <section class="section is-medium">
    <div class="container">
      <h1 class="title is-1 has-text-centered">
        Like what you see?
      </h1>
      <h3 class="subtitle has-text-centered">
        Place an order using the form below.
      </h3>
    </div>
  </section>

  <!--Form-->
  <section class="section is-medium">
    <div class="container">
      <form (ngSubmit)="processForm()" #contactForm="ngForm">

        <!--Name fields-->
        <div class="field">
          <label class="label">Name</label>
          <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name" #nameInput="ngModel"
            required>
          <!--Error if no name is provided-->
          <div class="help is-error is-danger" *ngIf="nameInput.invalid && nameInput.touched">
            Your name is required.
          </div>
        </div>

        <!--Ship From field-->
        <div class="field">
          <label class="label">Ship From:</label>
          <div class="select is-fullwidth">
            <select (change)="selectChangeHandlerFrom($event)">
              <option value="?"></option>
              <option value="City1">City 1</option>
              <option value="City2">City 2</option>
              <option value="City3">City 3</option>
              <option value="City4">City 4</option>
            </select>
          </div>
        </div>

        <!--Ship To field-->
        <div class="field">
          <label class="label">Ship To:</label>
          <div class="select is-fullwidth">
            <select (change)="selectChangeHandlerTo($event)">
              <option value="?"></option>
              <option value="City1">City 1</option>
              <option value="City2">City 2</option>
              <option value="City3">City 3</option>
              <option value="City4">City 4</option>
            </select>
          </div>
        </div>

        <!--Submit Button-->
        <button type="submit" class="button is-light is-large" [disabled]="contactForm.invalid">
          Sumbit
        </button>
      </form>
    </div>
  </section>
</section>
