.tierImgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0px;
}

.hero {
    background-image: url('/assets/img/plane-background.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
}   
.is-error{
    display: inline-block;
}
#tierBannerOption:hover {
    border: 2px solid #df303e  ;
}