<!--home page component-->
<section class="hero is-dark is-large">
    <div class="hero-body">
      <div class="">
        <h1 class="subtitle has-text-centered is-size-2">
          <span>Secure</span>
          <span>&nbsp;</span>
          <span>Wealth</span>
          <span>&nbsp;</span>
          <span>Over</span>
          <span>&nbsp;</span>
          <span>Land</span>
          <h3 class="subtitle has-text-centered is-size-2">
            <span>Safe</span>
            <span>&nbsp;</span>
            <span>and</span>
            <span>&nbsp;</span>
            <span>Secure</span>
            <span>&nbsp;</span>
            <span>Shipment</span>
            <span>&nbsp;</span>
            <span>of</span>
            <span>&nbsp;</span>
            <span>your</span>
            <span>&nbsp;</span>
            <span>Assets</span>
          </h3>
        </h1>
      </div>
    
    
    <div class=" has-text-centered">
      <h1 class="title is-size-6">
        About Us:
      </h1>
      <h2 class="subtitle is-size-6">
          28 years of business and security experience has brought us to the elite tier of secure transportation companies.
          To support our business, <br>
          We have over 150 armored trucks with over 250 top-of-the-line drivers.
          We average around 300 inquires and 200 official orders per week.
      </h2>
    </div>
  </div>
  </section>